<h1>Books</h1>


<%= form_with model:@book, local: true do |f| %>
<h2>New Book</h2>

<h5>Title</h5>
<%= f.text_field :title %>
<h5>Body</h5>
<%= f.text_area :body %>
<br>
<%= f.submit "create book" %>

<% end %>
