// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: green;
}
.box {
  border: solid 2px red;
  width: 50%;
  background-color: #c0c0c0;
}

.headline{
  background-color: red;
  color: white;
  margin: 0;
}

.field_with_errors{
  display: table;
    padding: 2px;
    background-color: red;
}